/*Color-pallet: 
Yellow:      #FCEBB6
Brow:        #5E412F
Orange:      #F07818
Dark-Yellow: #F0A830
Green:        #78C0A8
*/

@font-face {
    font-family: 'TekoRegular';
    src: url('../fonts/Teko-Regular.ttf');
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: #f1c40f !important;
    font-weight: bold;
    margin-top: 0px;
    font-size: 32px;
}

h3 {
    margin-top: 0px;
    color: #c49e0a !important;
}

a {
    color: #5E412F;
}

a:hover {
    color: #5A5000;
    text-decoration: none;
}

.press-kit {
    font-weight: bold;
    font-size: 18px;
}

.font-calango {
    font-family: 'TekoRegular';
}

.release-date {
    font-weight: bold;
}

.download {
    font-weight: bold;
    font-size: 22px;
}

.about-content {
    font-size: 20px;
}

.contact-content {
    font-size: 20px;
}

.email {
    font-size: 28px;
}

.presskit-content {
    font-size: 32px;
}

.cover-subtitle{
    color: #c49e0a;
    margin-top: 20px;
    background: black;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 14%;
    margin-right: 14%;
}

#cover-top-title {
    position: absolute;
    margin-top: 10%;
    left: 18%;
    right: 18%;
}

#cover-top-container {
    margin-right: 66%;
}

#scroll-image {
    position: relative;
}

#menu {
    top: 0px;
    position: absolute;
    width: 100%;
    font-size: 24px;
}

@media(max-width:1024px){
    .cover-subtitle{
        margin-left: 15%;
        margin-right: 15%;
    }  
}

@media(max-width:720px){
    .cover-subtitle{
        margin-left: 12%;
        margin-right: 12%;
    }  
}

@media(max-width:576px) {
    #cover-top-title {
        margin-top: 7%;
        left: 0%;
        right: 0%;
    }
    #menu {
        width: auto;
    }

.cover-subtitle{
    margin-left: 1%;
    margin-right: 1%;
}
}
