/*Color-pallet: 
Yellow:      #FCEBB6
Brow:        #5E412F
Orange:      #F07818
Dark-Yellow: #F0A830
Green:        #78C0A8
*/

@font-face {
    font-family: 'TekoRegular';
    src: url('../fonts/Teko-Regular.ttf');
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: #F0A830 !important;
    font-weight: bold;
    margin-top: 0px;
    font-size: 32px;
}

h3 {
    margin-top: 0px;
    color: #F07818 !important;
}

a {
    color: #5E412F;
}

a:hover {
    color: #5A5000;
    text-decoration: none;
}

.press-kit {
    font-weight: bold;
    font-size: 18px;
}

.font-calango {
    font-family: 'TekoRegular';
}

.release-date {
    font-weight: bold;
}

.download {
    font-weight: bold;
    font-size: 22px;
}

.about-content {
    font-size: 20px;
}

.contact-content {
    font-size: 20px;
}

.email {
    font-size: 28px;
}

.presskit-content {
    font-size: 32px;
}

#cover-top-title {
    position: absolute;
    margin-top: 17%;
}

#cover-top-container {
    margin-right: 66%;
}

#scroll-image {
    position: relative;
}

#menu {
    top: 0px;
    position: absolute;
    width: 100%;
    font-size: 24px;
}

@media(max-width:576px) {
    #cover-top-title {
        margin-top: 10%;
    }
    #menu {
        width: auto;
    }
}